.modificar {
  min-height: 100vh;
  background-color: #7c3d3de1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  box-sizing: border-box;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  border-radius: 1rem;
}

.topBar {
  position: relative;
  width: 100%;
  max-width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.titulo {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.tituloParte1 {
  color: white;
}

.tituloParte2 {
  color: white;
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  color: #7c3d3d;
  font-size: 1rem;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
}

.juegoImagen {
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #bd9696;
  background-color: #4d2a2a;
  margin-bottom: 2rem;
  margin-top: 40px;
}

.inputGroup {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
}

.input,
.select {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 1.5rem;
  border: none;
  background-color: #deb8b8cf;
  color: #4d2a2a;
  font-size: 1rem;
  outline: none;
  appearance: none;
  position: relative;
}

.select {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 1.5rem;
  border: none;
  background-color: #deb8b8cf;
  color: #4d2a2a;
  font-size: 1rem;
  outline: none;
  appearance: none;

  background-image: url("/flecha.png");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
}


.fileInputLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #deb8b8cf;
  color: #4d2a2a;
  padding: 0.9rem 1rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

.iconoCamaraDerecha {
  font-size: 1.2rem;
  color: #4d2a2a;
  pointer-events: none;
}

.fileInput {
  display: none;
}

.boton {
  background-color: #66b069;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.9rem 1rem;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
 background-color: #3e9442;
}
